ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

/* Header */

div.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    background-color: #1F2937;
    ;
}

div.header-title {
    font-size: 24px;
    color: #F9FAF8;
}

/* Block One */

div.block-one {
    display: flex;
    align-items: center;
    gap: 50px;
    background-color: #1F2937;
    padding: 50px 200px 50px 200px;
    flex-wrap: wrap;
}

div.container-one {
    flex-basis: 225px;
    flex-grow: 1;
    flex-shrink: 1;
}

div.header-one {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

div.body-one {
    color: #E5E7EB;
    font-size: 18px;
    padding-bottom: 20px;
}

button.button-one {
    color: #F9FAF8;
    background-color: #3882f6;
    padding: 4px 18px;
    border-radius: 8px;
    border: 0px;
}

div.img-logo {
    display: flex;
    
    height: 250px;
    width: auto;
}

/* Block Two */

div.block-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 0px;
}

div.items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: cover;
    gap: 50px;
}

.items img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    border: 5px solid #3882f6;
}

.items p {
    font-size: 18px;
    color: #1F2937;
    
}

.items div {
    width: 150px;
}

.header-two {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

/* Block Three */

.block-three {
    display: flex;
    flex-direction: column;
    padding: 100px 400px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    background-color: #E5E7EB;
    font-weight: 100;
    gap: 50px;
}

.block-three p {
    margin: 0;
}

.quote-credit {
    align-self: flex-end;
    font-size: 24px;
    color: #1F2937;
    font-weight: 500;
}

/* Block four */

.block-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

.button-two {
    background-color: #3882f6;
    height: 200px;
    width: 900px;
    border: 0;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-title {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.button-text {
    color: #F9FAF8;
    font-size: 18px;
}

.button-two button {
    border: 3px solid #F9FAF8;
    border-radius: 10px;
    color: #F9FAF8;
    background-color: #3882f6;
    font-size: 18px;
    padding: 5px 10px;
}

/* Footer */

.footer {
    text-align: center;
    background-color: #1F2937;
    padding: 20px 0;
    color: #F9FAF8;
}
